/* Estilo de los botones: primerios y secundarios */
button {                        
    border: none;
    font-size: 1rem;
}

.boton-primario {
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

.boton-secundario {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
}

/* Combinación de título h1 y botón, se usa en gestión del MENU e INGREDIENTES */
.titulo-boton {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: var(--color-secundario)
}

    /* Sombra cuando se pasa por arriba */
button:hover {
  box-shadow: 2px 5px 2px 0 rgba(0,0,0,0.2);
}