main{
    max-width: 90%;
    display: block;
    margin: auto;
    align-items: center;
    padding: 10px;
    line-height: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}


.contenedor-general {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.contenedor-info {
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
}

.conteiner-table {
    border: 1px solid var(--color-bordes);
    border-radius: 0.8rem;
    border-spacing: 0;
}

table, td, th {
    border-bottom: 1px solid var(--color-bordes);
}

td, th {
    text-align: start;
    padding: 0.8rem;
}

tr:last-child td {
    border-bottom: none;
}

.plato-detalle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.texto-principal {
    color: var(--color-texto-primario);
    font-weight: 600;
    font-size: 1.1rem;
}

.texto-secundario {
    color: var(--color-texto-secundario);
}

section {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--color-secundario);
    border-radius: 0.8rem;
}

.cliente-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.cliente-content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.cliente-content img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        flex-shrink: 0;
}

.cliente-text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top:0;
}

.seccion-detalle-pedido{
    padding: 0.75rem;
}

.seccion-detalle-pedido table tbody td:first-child {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: inherit;
}

.seccion-detalle-pedido table tbody td {
    padding: 1rem 0.8rem;
}

.seccion-detalle-pedido table tbody td:nth-child(2),
.seccion-detalle-pedido table tbody td:nth-child(3) {
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
}

.tabla-pago-container {
    box-sizing: border-box;
    padding: 0.5rem 0.75rem;
    width: 100%;
    line-height: 2rem;
}

.tabla-pago {
    display: grid;
    grid-template-columns: 1fr auto;
}

.metodo-pago {
    display: inline-flex;
    gap:0.5rem;
}

.metodo-pago img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.boton-volver {
    text-align: right;
    height: 2.75rem;
}

.estado-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-fondo-secundario);
}

.estado-container h2 {
    display: inline;
    margin-right: 1rem;
}

.estado-icono {
    background-color: orange;
    color: white;
    width: 10rem;
    border-radius: 1rem;
    padding: 0 5rem;
}

.icono {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
}

@media (min-width: 0px) and (max-width: 400px) {
    td img, td .texto-secundario{
        display:none;
    }

    .contenedor-info {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .estado-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    
    .estado-container div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .estado-icono {
        width: auto;
        padding: 0 2rem;
    }
}