main{
    max-width: 80%;
    display: block;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2{
    font-family: "Nata Sans", sans-serif;
    font-size: 1.2rem;
    color: var(--color-texto-primario);
    margin: 0.75rem 0;
}

h3{
    margin: 0 0 0 0.75rem;
    padding-top: 0.5rem;
}

.conteiner-table h2{
    margin-left: 0.75rem;
}

.cliente-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
    width: 45%;
}

.cliente-content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.cliente-content img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        flex-shrink: 0;
}

.cliente-text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top:0;
}

.conteiner-table {
    margin-top: 0rem;
    padding: 0rem;
}

.seccion-detalle-pedido{
    padding: 0.75rem;
}

.seccion-detalle-pedido table tbody td:first-child {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: inherit;
}

.seccion-detalle-pedido table tbody td {
    padding: 1rem 0.8rem;
}

.seccion-detalle-pedido table tbody td:nth-child(2),
.seccion-detalle-pedido table tbody td:nth-child(3) {
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
}

.tabla-pago-container {
    width: 100%;
}

.tabla-pago {
    margin-left: 0.75rem;
    display: grid;
    grid-template-columns: 1fr;
}

.fila-pago {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.metodo-pago {
    display: inline-flex;
    padding-left: 0.75rem;
    gap:0.5rem;
}

.metodo-pago img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.boton-volver {
    text-align: right;
    height: 2.75rem;
}

.estado-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--color-fondo-secundario);
}

.estado-container h2 {
    display: inline;
    margin-right: 1rem;
}

.estado-icono {
    background-color: orange;
    color: white;
    width: 10rem;
    border-radius: 1rem;
    padding: 0 5rem;
}
