:root {
    --color-principal: #FF0000;
    --color-secundario: #FFFFFF;
    --color-texto-primario: #000000;
    --color-texto-secundario: #3b3b3b;
    --color-bordes: #838383;
    --color-fondo: whitesmoke;
}

/* General - tipografía y tamaño*/
body {
    font-family: "Nata Sans", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    margin: 2rem;
    background-color: var(--color-fondo);
}
/* Color de los titulos, subtitulos y encabezados */
h1, h2 {
    color: var(--color-texto-primario);   
}
h3 {
  color: var(--color-texto-secundario);
  /* margin: 0.5rem 0; */
}
h2, h3 {
    margin: 0.5rem;
}

section {       /*--- C/u lo tiene que definir en su vista*/
    margin-bottom: 1.5rem;
    padding: .5rem;
    background-color: var(--color-secundario); /*---- Depende como hayamos hecho el html c/u pero no deberia ser fijo*/
    border-radius: 0.8rem; 
}

/* Estilos de labels, inputs y textarea */
.label-input {          /* ----- No sabemos dónde está pero es una clase asi que todo bien*/
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
label {
    margin: 0.5rem 0;   /*  ---- Deberia ser definido c/u en su vista*/
}
    /* Como esta en cascada, la tipografia del input pisa la que elegimos */
input, textarea {
    font-family: "Nata Sans", sans-serif;
    font-size: 1rem;
    padding: 0.2rem;            /* ---- En otras vistas se redefinieron estos valores asi que no sé si queden como generales*/
    border-radius: 0.3rem;
    border: 1px solid var(--color-bordes);
}

/* Estilo para boton deslizante */
    /* Contenedor del toggle */
.switch {
    display: flex;
    justify-content: space-between; /* Texto a la izquierda, slider a la derecha */
    align-items: center;
    width: 100%;
    cursor: pointer;
}
    /* Estilo del texto */
.switch span.text-container {
    display: flex;
    flex-direction: column;
}
.switch span.text-container .subtitle {
    font-size: 0.8rem;
    color: var(--color-texto-secundario);
}
    /* Ocultar el checkbox real */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
    /* Slider personalizado */
.slider {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.4s;
}
    /* Circulo dentro del slider */
.slider::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}
    /* Efecto cuando el checkbox está activo */
.switch input:checked + .slider {
    background-color: var(--color-principal);
}
.switch input:checked + .slider::before {
    transform: translateX(20px);
}

/* Estilo de los botones: primerios y secundarios */
button {
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;  /*---- c/u lo definira en su vista*/
    border-radius: 0.4rem; /* ---- Hay botones mas redondeados o cuadrados asi que el border radius gral no estaria bueno*/
}
.boton-primario {
    background-color: var(--color-principal);
    color: var(--color-secundario);
}
.boton-secundario {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
}
    /* Si los botones estan juntos tienen otra ubicación */
.botones-juntos {           
    display: flex;              /*--- Es buena idea pero si el contenedor ppal de la vista tiene algun estilo particular, rompe*/
    justify-content: flex-end;  /*--- En perfil-local el contenedor ppal es flex+column y esto por si solo no le funciona xq no ocupa el 100% de width c/elemento, le tuvo que agregar otra configuracion mas*/        
    gap: 0.7rem;                /*--- Basicamente esta muy atado a como se implemento el html y capaz puede o no servir*/        
}
    /* Sombra cuando se pasa por arriba */
button:hover {
  box-shadow: 2px 5px 2px 0 rgba(0,0,0,0.2);
}


/* Estilo general de la tabla + costo produccion */
.costo-produccion {
    display: flex;
    align-items: center;
    gap: 0.5rem;                        /*--- Esto es de una vista propia asi que deberia estar en un archivo separado*/
    margin-bottom: 0.5rem;
}
.conteiner-table {
    border: 1px solid var(--color-bordes);
    border-radius: 0.8rem;
}
table {                 /*---- Si alguien quisiera usar tablas capaz le romperia/deberia pisar estos estilos por tag */
    width: 100%;
    border-collapse: collapse;
}

td, th {
    text-align: start;
    padding: 0.8rem;
    border-bottom: 1px solid var(--color-bordes);
}
    /* Sin borde inferior en última fila */
tr:last-child td { 
    border-bottom: none;
}
.icono {
    text-align: center;             /*--- Creemos que es de una vista particular asi que tampoco deberia estar aca*/
}