:root {
    --color-principal: #FF0000;
    --color-secundario: #FFFFFF;
    --color-texto-primario: #000000;
    --color-texto-secundario: #3b3b3b;
    --color-bordes: #838383;
}

/* General - tipografía y tamaño*/
body {
    font-family: "Nata Sans", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    margin: 2rem;
}
/* Color de los titulos, subtitulos y encabezados */
h1, h2 {
    color: var(--color-texto-primario);
}
h3 {
  color: var(--color-texto-secundario);
  margin: 0.5rem 0;
}

section {
    margin-bottom: 2rem;
}

/* Estilos de labels, inputs y textarea */
.label-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
label {
    margin: 0.5rem 0;
}
    /* Como esta en cascada, la tipografia del input pisa la que elegimos */
input, textarea {
    font-family: "Nata Sans", sans-serif;
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: 1px solid var(--color-bordes);
}

/* Estilo de los botones: primerios y secundarios */
button {
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}
.boton-primario {
    background-color: var(--color-principal);
    color: var(--color-secundario);
}
.boton-secundario {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
}
    /* Si los botones estan juntos tienen otra ubicación */
.botones-juntos {
    display: flex;
    justify-content: flex-end;
    gap: 0.7rem;
}
    /* Sobra cuando se pasa por arriba */
button:hover {
  box-shadow: 2px 5px 2px 0 rgba(0,0,0,0.2);
}

/* Estilo general de la tabla + costo produccion */
.costo-produccion {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.conteiner-table {
    border: 1px solid var(--color-bordes);
    border-radius: 0.8rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    text-align: start;
    padding: 0.8rem;
    border-bottom: 1px solid var(--color-texto-secundario);
}
    /* Sin borde inferior en última fila */
tr:last-child td { 
    border-bottom: none;
}
.icono {
    text-align: center;
}