:root {
    --color-principal: #FF0000;
    --color-secundario: #FFFFFF;
    --color-texto-primario: #000000;
    --color-texto-secundario: #666666;
}

/* General - tipografía y tamaño*/
body {
    font-family: "Nata Sans", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    margin: 2rem;
}

/* Estilos de labels, inputs y textarea */
.label-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
label {
    margin: 0.5rem 0;
}
/* Como esta en cascada, la tipografia del input pisa la que elegimos */
input, textarea {
    font-family: "Nata Sans", sans-serif;
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: 1px solid var(--color-texto-secundario);
}
