/* Container general ingredientes */
.ingrediente-container {
    max-width: 100%;
    padding: 1rem 2rem;
}

.titulo-boton h1 {
    flex-basis: 270px;
}

.container-tabla-ingredientes {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    gap: 2rem 0.3rem;
    padding: 0.7rem;
    background-color: var(--color-secundario);
    border: 0.2px solid var(--color-bordes);
}


.cabecera-tabla {
    justify-self: start;
    align-self: center;
    padding-bottom: 0.5rem;
}

.cabecera-acciones {
    justify-self: center;
    align-self: center;
    padding-bottom: 0.5rem;
    font-weight: lighter;
}

.celda-tabla {
    justify-self: start;
    align-self: center;
}

.celda-precios {
    justify-self: start;
    align-self: center;
    font-weight: lighter;
}

.iconos-acciones {
    display: flex;
    align-items: center;
    justify-content: center;
}