/* Estilos de la vista en general */
main {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h1 {
  margin-left: 1rem;
}

.subtitulo {
  color: var(--color-texto-secundario);
}

/* Seccion: Descripción del plato */
.editar-plato {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  padding: 1rem;
}

.editar-plato__imagen {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  overflow: hidden; /* Se recorta lo que "sobra" */
}

.foto{
  height: 100%;
  border-radius: 2rem;
  object-fit: cover; /* Ocupa todo sin deformarse */
}

.textarea-descripcion {
  width: 100%;   /* o el tamaño en px que quieras */
  height: 120px; /* ajustá la altura inicial */
  resize: vertical; /* opcional: solo permite agrandar verticalmente */
}