.editar-plato {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}
.detalles-plato{
    /* width: 100%; */
    flex: 1 1 200px;
    min-width: 300px;
}
.foto{
  height: auto;
  border-radius: 1rem;
}

.textarea-descripcion {
  width: 100%;   /* o el tamaño en px que quieras */
  height: 120px; /* ajustá la altura inicial */
  resize: vertical; /* opcional: solo permite agrandar verticalmente */
}