/* HOJA DE ESTILOS GENERALES */

/* Ideas: 
- Un estilo general podria ser agregarle al * (con ese selector agarra todos los elementos) que haya 
margin y padding 0 para TODA LA PAGINA asi lo definimos nosotros en c/u de nuestras clases? Si el navegador agrega
margins o paddings que no contemplamos nos podria romper las vistas.
*/

 * {
    margin: 0;
    padding: 0;
}

:root {
    --color-principal: #FF0000;
    --color-secundario: #FFFFFF;
    --color-texto-primario: #000000;
    --color-texto-secundario: #3b3b3b;
    --color-bordes: #838383;
    --color-fondo: whitesmoke;
    --color-parrafos: #97749d;
}

/* General - tipografía y tamaño*/
body {
    font-family: "Nata Sans", sans-serif;
    font-size: 100%;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
}

/* Estilo para los links */
a {
    text-decoration: none;
    color: var(--color-texto-primario)
}

/* Color de los titulos, subtitulos y encabezados */
h1, h2, h4 {
    color: var(--color-texto-primario);
    margin: 0px;
}

h3 {
  color: var(--color-texto-secundario);
  margin: 0px;
}

/* Estilo para boton deslizante */
/* Contenedor del toggle */
.switch {
    display: flex;
    justify-content: space-between; /* Texto a la izquierda, slider a la derecha */
    align-items: center;
    width: 100%;
    cursor: pointer;
}
    /* Estilo del texto */
.switch span.text-container {
    display: flex;
    flex-direction: column;
}
.switch span.text-container .subtitle {
    font-size: 0.8rem;
    color: var(--color-texto-secundario);
}
    /* Ocultar el checkbox real */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
    /* Slider personalizado */
.slider {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.4s;
}
    /* Circulo dentro del slider */
.slider::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}
    /* Efecto cuando el checkbox está activo */
.switch input:checked + .slider {
    background-color: var(--color-principal);
}
.switch input:checked + .slider::before {
    transform: translateX(20px);
}


/* Estilo de los botones: primerios y secundarios */
button {
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

.boton-primario {
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

.boton-secundario {
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
}

/* Combinación de título h1 y botón, se usa en gestión del menú e ingredientes */
.titulo-boton {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    background-color: var(--color-secundario)
}

@media (max-width: 400px) {             /*Solucion a overlapping de footer con la vista*/
    body {
        padding-bottom: 2rem;
    }
} 