/* HOJA DE ESTILOS GENERALES */

 * {                /*Diferencia entre * y agregar margin/padding al body*/
    margin: 0;
    padding: 0;
}

:root {
    --color-principal: #FF0000;
    --color-secundario: #FFFFFF;
    --color-texto-primario: #000000;
    --color-texto-secundario: #3b3b3b;
    --color-bordes: #838383;
    --color-fondo: whitesmoke;
    --color-parrafos: #97749d;
}

/* General - tipografía y tamaño*/
body {
    font-family: "Nata Sans", sans-serif;
    font-size: 100%;
    background-color: var(--color-fondo);
}

/* Estilo para los links */
a {
    text-decoration: none;
    color: var(--color-texto-primario)
}

/* Estilo para el contenedor general de todos los contenidos
    redefinir en cada archivo propio las dimensiones */
.contenedor-general{
    background-color: var(--color-secundario); /*---- Depende como hayamos hecho el html c/u pero no deberia ser fijo*/
    border-radius: 0.5rem; 
}

@media (max-width: 400px) {             /*Solucion a overlapping de footer con la vista*/
    body {
        padding-bottom: 2rem;
    }
} 