/*  Vista Desktop */
.main-header{
    background-color: var(--color-secundario);
    height: 4rem;
    width: 100vw;
}

.navbar {                     /* Alineado general del navbar */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-links {                  /* Alineado de los links del navbar */
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    flex: 1;           /* le permito crecer para ocupar todo el espacio disponible  */
    margin: 1rem;
}

.nav-links{                  /* Formato links dentro de ul-links */
    text-decoration: none;
    color: var(--color-texto-primario)
}

.nav-icons {
    display: none;
}

.container-logo {           /* Formato icono+titulo (izq) */
    display: flex;
    align-items: center;
    margin: 0 1rem;
    gap: 1rem;             /* separacion entre elementos */
}

.logo-app {
    border: solid 2px var(--color-principal);
    border-radius: 50%;
    background-color: var(--color-principal);
}

.container-usuario {         /* Formato icono usuario (der) */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1rem;
}

.user-logo {
    width: 2.5rem;
}

.hamburguesa {
    display: none;
}


@media (min-width: 401px) and (max-width: 768px) {  /*--> Vista Tablet*/
    .ul-links {
        display: none;
    }

    .hamburguesa {
        display: flex;
    }
}

@media (max-width: 400px) {                         /* --> Vista Mobile*/
    .main-header{
        position: fixed;
        width : 100%;
        bottom: 0;
        left: 0;
    }

    .container-logo > h4 {   
        display: none;
    }

    .nav-links > span {
        display: none;
    }

    .hamburguesa {
        display: none;
    }
    
    .nav-links > img {
        display: flex;
    }

    .container-usuario {
        display: none;
    } 

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1em;
        padding: 0 1rem;
    }

    .container-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ul-links {
        display: flex;
        justify-content: space-evenly;
        flex: 1;
        padding: 0;
    }

}



