/*  Vista Desktop */
.main-header{
    background-color: var(--color-secundario);
    height: 4rem;
    width: 100vw; 
}

.navbar {                    /* Alineado general del navbar*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-links {                 /* Alineado de los links del navbar */
    list-style-type: none;
    display: flex;
}

.nav-links{
    text-decoration: none;
    color: var(--color-texto-primario)
}

.nav-links > img {
    display: none;
}

.container-usuario > img {
    width: 3rem;
}

.container-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-logo > img {
    width: 2.5rem;
    height: 2.5rem;
    border: solid 0px var(--color-principal);
    border-radius: 50%;
    background-color: var(--color-principal);
}

/* @media (min-width: 401px) an (max-width: 768px) --> Vista Tablet*/

@media (max-width: 400px) {     /* --> Vista Mobile*/
    .main-header{
        position: fixed;
        width : 100%;
        bottom: 0;
        left: 0;
    }

    .container-logo > h1 {   
        display: none;
    }

    .nav-links > span {
        display: none;
    }
    
    .nav-links > img {
        display: flex;
    }

    .container-usuario {
        display: none;
    } 

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1em;
        padding: 0 1rem;
    }

    .container-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ul-links {
        display: flex;
        justify-content: space-evenly;
        flex: 1;
        padding: 0;
    }

}



