/*  Vista Desktop */
.header-pagina{
    background-color: var(--color-secundario);
    height: 3.5rem;
    width: 100%;
}

.barra-navegacion {                     /* Alineado general de barra-navegacion */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-links {                  /* Alineado de los links de barra-navegacion */
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    flex: 1;           /* le permito crecer para ocupar todo el espacio disponible  */
    margin: 1rem;
}

/* Agrego una indicacion con sombra para los links de navegacion del header */
.links-navegacion {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: box-shadow 0.3s; /* Para que no aparezca de golpe el sombreado*/
}

.iconos-navegacion,
.hamburguesa {
    display: none;
}

.container-logo {           /* Formato icono+titulo (izq) */
    display: flex;
    align-items: center;
    margin: 0 1rem;
    gap: 1rem;             /* separacion entre elementos */
}

.logo-app {
    border: solid 2px var(--color-principal);
    border-radius: 50%;
    background-color: var(--color-principal);
}

.container-usuario {         /* Formato icono usuario (der) */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1rem;
}

.usuario-logo {
    width: 2.5rem;
}


@media (min-width: 401px) and (max-width: 768px) {  /*--> Vista Tablet*/
    .ul-links {
        display: none;
    }

    .hamburguesa {
        display: flex;
        margin: 0 1rem;
    }

    .usuario-logo {            /*momentaneo*/
        margin: 0.5rem;
    }
}

@media (max-width: 400px) {                         /* --> Vista Mobile*/
    .header-pagina{
        position: fixed;
        width : 100%;
        bottom: 0;
        left: 0;
    }

    .hamburguesa,
    .container-usuario,
    .links-navegacion > span,
    .container-logo > h4 {
        display: none;
    }
    
    .links-navegacion > img {
        display: flex;
    }

    .barra-navegacion {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1em;
        padding: 0 1rem;
    }

    .container-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ul-links {
        display: flex;
        justify-content: space-evenly;
        flex: 1;
        padding: 0;
    }
}



