
.container-usuario > img {
    width: 3rem;
}

.items-navegacion{
    list-style-type: none;
}

.links{
    text-decoration: none;
    color: var(--color-texto-primario)
}

/* @media (min-width: 401px) an (max-width: 768px) --> Vista Tablet*/

@media (max-width: 400px) {     /* --> Vista Mobile*/
    .main-header{
        background-color: var(--color-secundario);
        width : 100%;
        height: 4rem; 
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .container-logo > h1{   
        display: none;
    }

    .links > span {
        display: none;
    }

    .container-usuario > img {
        display: none;
    } 

    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .ul-links {
        display: flex;
        justify-content: space-around;
    }




}



