/* Container general ingredientes */
.ingrediente-container {
    max-width: 100%;
    padding: 1rem 2rem;
}

/* Estilo del título y botón de agregar ingrediente */
.titulo-boton h1 {
    flex-basis: 277px;
}

/* Contenedor de la tabla que aplica borde exterior */
/* .container-tabla {
    border: 1px solid var(--color-bordes);
    border-radius: 8px;
    background-color: var(--color-secundario);
} */

/* Formato de la tabla */
table {
  width: 100%;
  border: 1px solid var(--color-bordes);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  background-color: var(--color-secundario)
}

/* Formato de las celdas */
td, th {
  text-align: start;
  padding: 1rem;
  border-bottom: 1px solid var(--color-bordes); 
}

/* Sin borde inferior en última fila */
 tr:last-child td { 
  border-bottom: none;
} 

/* Estilo de cabecera acciones */
.cabecera-acciones {
    text-align: center;
}

/* Estilo de iconos acciones */
.iconos-acciones {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.cabecera-origen {
    text-align: center;
}

.icono-origen {
    text-align: center;
}

/* Media query mobile */
@media (max-width: 400px) {
    .cabecera-origen,
    .cabecera-alimenticio,
    .celda-alimenticio,
    .icono-origen {
        display: none;
    }
}

/* Media query tablet */
@media (401px <= width <= 768px) {
    .ingrediente-container {
        margin-left: 5%;
        margin-right: 5%
    }
}

/* Media query desktop */
@media (min-width: 769px) {
    .ingrediente-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* Ocultar icono de ojo en tablet y desktop */
@media (min-width: 401px) {
    .icono-ojo {
        display: none;
    }
}
