/* Vista Mobile */
.vista-edicion-ingrediente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 2rem;
}

.titulo-edicion {
    align-self: flex-start;
    color: var(--color-texto-primario);
}

.container-edicion {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}
