/* Container general ingredientes */
.ingrediente-container {
    max-width: 100%;
    padding: 1rem 2rem;
}

/* Estilo del título y botón de agregar ingrediente */
.titulo-boton h1 {
    flex-basis: 270px;
}

/* Container principal de la tabla */
.tabla-ingredientes {
    width: 100%;
    background-color: var(--color-secundario);
}

/* Text-align, padding y border*/
th, td {
    text-align: start;
    padding: 1rem;
    border: 1px solid var(--color-bordes);
}

/* Bordes para la tabla, solución rara que encontre en stackoverflow para aplicar el border radius */
table {
    border-collapse: collapse;
    border-radius: 6px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #666;
}

/* Estilo de cabecera acciones */
.cabecera-acciones {
    text-align: center;
}

/* Estilo de iconos acciones */
.iconos-acciones {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.cabecera-origen {
    text-align: center;
}

.icono-origen {
    text-align: center;
}

/* Media query mobile */
@media (max-width: 400px) {
    .cabecera-origen,
    .cabecera-alimenticio,
    .celda-alimenticio,
    .icono-origen {
        display: none;
    }
}

/* Media query tablet */
@media (401px <= width <= 768px) {
    .ingrediente-container {
        margin-left: 5%;
        margin-right: 5%
    }
}

/* Media query desktop */
@media (min-width: 769px) {
    .ingrediente-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* Ocultar icono de ojo en tablet y desktop */
@media (min-width: 401px) {
    .icono-ojo {
        display: none;
    }
}
