/* Container general ingredientes */
.ingrediente-container {
    max-width: 100%;
    padding: 1rem 2rem;
}

/* Estilo del título y botón de agregar ingrediente */
.titulo-boton h1 {
    flex-basis: 277px;
}

/* Padding extra para esta tabla */
th, td {
    padding: 1rem;
}

/* Estilo de cabecera acciones */
.cabecera-acciones {
    text-align: center;
}

/* Estilo de iconos acciones */
.iconos-acciones {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.cabecera-origen {
    text-align: center;
}

.icono-origen {
    text-align: center;
}

/* Media query mobile */
@media (max-width: 400px) {
    .cabecera-origen,
    .cabecera-alimenticio,
    .celda-alimenticio,
    .icono-origen {
        display: none;
    }
}

/* Media query tablet */
@media (401px <= width <= 768px) {
    .ingrediente-container {
        margin-left: 5%;
        margin-right: 5%
    }
}

/* Media query desktop */
@media (min-width: 769px) {
    .ingrediente-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* Ocultar icono de ojo en tablet y desktop */
@media (min-width: 401px) {
    .icono-ojo {
        display: none;
    }
}
