main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
}

.login-button{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 25px;
}


.form-group {
    text-align: left;
    margin-bottom: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.login-container {
    padding: 3rem 2.5rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-shadow: none;
}

.form-group label {
    display: block;
    color: var(--color-texto-primario);
    margin-left: 5%;
}

.form-input {
    display:block;
    padding: 0.75rem;
    padding-right: 3rem;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}

.password-container {
    position: relative;
    margin: auto;
}

.password-toggle-base {
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    margin: 0;
}

.password-toggle-checkbox {
    opacity: 0;
    cursor: pointer;
}

.password-toggle-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* Evita que el label interfiera con el input */
}

.password-toggle-label:hover{
    box-shadow: none;
}

.eye-icon {
    width: 30px;
    height: 30px;
    background-image: url('../assets/eye.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.3s ease;
}

.password-toggle-checkbox:checked ~ .password-toggle-label .eye-icon {
    background-image: url('../assets/eye-slash.svg');
}

.registrar-link {
    text-align: center;
    font-size: 0.75rem;
    padding-top: 1rem;
    color: var(--color-texto-secundario);
}

a {
    color: var(--color-texto-secundario);
}

.logo-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
} 
.logo-image {
    width: 35px;
    height: 35px;
    border: solid 5px var(--color-principal);
    border-radius: 50%;
    background-color: var(--color-principal);
    object-fit: contain;
}

.icono {
    width: 30px;
    height: 30px;
    padding-top: 0.3rem;
}

@media (max-width: 768px) {
    .logo-section{
        gap: 1rem;
    }
}


@media (min-width: 401px) {
    .login-container {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    }
}


