/* Container general del menú */
.menu-container {
    max-width: 100%;
    padding: 1rem 2rem;  
}

/* Remuevo el margen inferior del h2 para que vaya unido al menú */
.lista-menu h2 {
    margin-block-end: 0rem;
}

/* Configuración para sección de lista de menú */
.lista-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-secundario)
}

/* Configuración para cada item (plato+precio) del menú*/
.item-menu {
    display: flex;
    justify-content: space-between;
}

/* Configuración para imágen y nombre de plato */
.detalles-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Formato de las imágenes en el menú */
 .imagen-menu {
    height: 3rem;
    width: auto;
    border-radius: 8px;
} 

/* Configuración para precios del menú */
.precio-menu {
    display: flex;
    align-items: center;
    flex-basis: 3rem;
}

/* Descripción del plato del menú */
.descripcion-plato {
    font-weight: 130;
}

/* Media Query mobile */
@media (max-width: 400px) {
    .descripcion-plato {
        display: none;
    }
}

/* Media Query tablet */
@media (401px <= width <= 768px) {
    .menu-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* Media Query desktop */
@media (min-width: 769px) {
    .menu-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}
