/* Container main del menú */
.menu-container {
    max-width: 100%;
    padding: 1rem 2rem;  
}

/* Margen entre título h2 del menú e items del menú */
h2 {
    margin-block-end: 0.5rem;
}

/* Formato del contenedor de la lista del menú */
.lista-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
}

/* Configuración para cada item (plato+precio) del menú*/
.item-menu {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/* Configuración para imágen y nombre+descripción del plato */
.detalles-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

/* Formato de las imágenes en el menú */
 .imagen-menu {
    height: 3rem;
    width: auto;
    border-radius: 8px;
} 

/* Configuración para precios del menú */
.precio-menu {
    display: flex;
    align-items: center;
}

/* Descripción del plato del menú */
.descripcion-plato {
    font-weight: 140;
}

/* Media Query mobile */
@media (max-width: 400px) {    
    .descripcion-plato {
        display: none;
    }
}

/* Media Query tablet */
@media (401px <= width <= 768px) {
    .menu-container {
        margin: 0 4.5rem 0 4.5rem
    }
}

/* Media Query desktop */
@media (min-width: 769px) {
    .menu-container {
        margin: 0 7rem 0 7rem;
    }
}
