/* Vista Desktop */
.container-principal {                      /* Container flex de toda la vista */
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.container-estados {            
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    margin: 1rem;
}

.link-estados {
    color: var(--color-texto-secundario);
}

.container-tarjetas {                              /* Container grid de todas las tarjetas */
    display: grid;
    grid-template-columns: repeat(3, 1fr);        /*3 columnas que toman 1/3 del espacio c/u*/
    gap: 1rem;
}

.pedido-tarjeta {                               /* Cada tarjeta de pedido */
    padding: 1rem;
    border: 1px solid var(--color-bordes);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-secundario);
}

.pedido-header{
    display: flex;
    flex-direction: column;
}

.pedido-header > p,
.modo-pago {                        /* Color gris para parrafos de la tarjeta */
    color: var(--color-texto-secundario);
} 

.info-usuario{                      /* Icono/info usuario de la tarjeta */
    display: flex;
    gap: 1rem;
    margin: 0.5rem 1rem;
}

.icono-usuario-pedido{
    width: 4rem;
}

.nombre-usuario,                  /* Alineacion nombre-user del header tarjeta */ 
.direccion-coordenadas {          /* Alineacion direccion/coordenadas de tarjeta */             
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.nombre-usuario > p,                /* Color violeta para parrafos de la tarjeta */
.direccion-coordenadas > p {               
    color: var(--color-parrafos); 
}

.info-pedido {                          /*Alineacion parrafo hora/articulos/total del header tarjeta */
    font-size: 15px;
    color: var(--color-texto-secundario);
}

.info-direccion {                       /* Alineacion info direccion pedido */
    display: flex;
    margin: 1rem 0;
}

.pin-ubicacion {
    padding: 0.5rem;
    margin-right: 1rem;
    background-color: rgb(230, 224, 236);     /* Fondo del pin gris-violaceo */
    border-radius: 20%;
}

.pedido-footer {
    display: flex;
    justify-content: space-between;
}

.modo-pago {                               /* Alineacion footer */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.boton-preparar {               /* Boton preparar pedido */ 
    height: max-content;
    align-self: flex-end;
} 

@media (min-width: 401px) and (max-width: 769px) {      /*Vista Tablet */
    .container-tarjetas {
        grid-template-columns: repeat(2, 1fr);
    } 
} 


@media (max-width: 400px) {         /* --> Vista Mobile*/
    .container-principal {
        gap: 1rem;
        margin: 2rem 1rem;
        padding-bottom: 2rem;           /*Padding-bottom para evitar el choque con footer*/
    }
    
    .container-estados {
        margin: 0;
        gap: 1rem;
        font-size: 0.9rem;
    }

    .container-tarjetas {               /* Contenedor de todas las tarjetas de pedidos */
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}