body {
  background-color: #f0f0f0;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 0px auto;
  box-sizing: border-box;
}

.titulo-principal {
  width: 100%;
}

.perfil-del-local {
  width: 60vw;
  justify-content: center;
}

.informacion-local {
  display: grid;
  grid-template-columns: 1fr 180px;
  grid-template-rows: auto auto;
  gap: 16px;
  align-items: start;
  padding: 16px;
  border: 1px solid var(--color-bordes);
  border-radius: 8px;
  width: 60vw;
  margin: 0 auto;
  background-color: #fff;
}

.inputs-local {
  display: grid;
  grid-auto-rows: min-content;
}

.imagen-local {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 99%;
  height: 99%;
  border-radius: 8px;
  border: 1px solid var(--color-bordes);

}

.direccion-local {
  width: 60vw;
  margin: 16px auto;
  padding: 16px;
  border: 1px solid var(--color-bordes);
  border-radius: 8px;
  background-color: #fff;
}

.direccion-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.direccion-grid input {
  padding: 8px;
  border: 1px solid var(--color-bordes);
  border-radius: 4px;
  width: 90%;
}

.porcentajes {
  width: 60vw;
  margin: 0px auto;
  padding: 16px;
  border: 1px solid var(--color-bordes);
  border-radius: 8px;
  background-color: #fff;
}

.porcentajes-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 12px;
}

.porcentajes-input div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.porcentajes-input input {
  padding: 8px;
  border: 1px solid var(--color-bordes);
  border-radius: 4px;
  width: 90%;
}

.metodos-de-pago {
  display: flex;
  gap: 16px;
}

.metodos-de-pago label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.botones-juntos {
  margin: 16px auto;
  width: 100%;
}


